/*============== ProximaNova =================*/

@font-face {
    font-family: 'proxima-semi-bold';
    src: url('../../assets/fonts/ProximaNova/ProximaNova-Semibold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-bold';
    src: url('../../assets/fonts/ProximaNova/ProximaNova-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-light-italic';
    src: url('../../assets/fonts/ProximaNova/ProximaNova-LightItalic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-light';
    src: url('../../assets/fonts/ProximaNova/ProximaNova-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-regular';
    src: url('../../assets/fonts/ProximaNova/ProximaNova-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}