$light-blue: #eaeeff;
$dark-blue: #354780;
$dark-grey: #595959;
$orange: #fb8100;

$font-sizes: '12', '14', '16', '18', '20';

$breakpoint-mobile: 767px;
$breakpoint-tab: 992px;
$breakpoint-desktop: 1200px;